*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom left, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 100%);
    font-family: 'Clash Display', sans-serif;
    /* width: 600px; */
    height: 100vh;
    /* margin:  auto; */
    padding: 50px;
    /* text-align: center; */
 }

.details label{
    text-align: left;
    /* margin-left: 115px; */
    /* padding: 50px; */
    font-weight: 600;
    color: #650d1b;
}
.details input{
    font-family: 'Clash Display', sans-serif;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 250px;
}
.details input:hover{
    border-color: #d90429;
}
.details{
    margin-bottom: 10px;
}


.submit{
    width: 250px;
    margin-top: 5px;
    padding: 10px ;
    border: 1px solid #d90429;
    background-color: #d90429;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Clash Display', sans-serif;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 3px 3px 7px black;
}
.submitRender{
    width: 100px;
    padding: 10px ;
    border: 1px solid #d90429;
    background-color: #d90429;color: white;
    font-weight: 600;
    border-radius: 5px;
    font-family: 'Clash Display', sans-serif;
    cursor: pointer;
    transition: 0.2s;

}
button:hover{
    letter-spacing: 1px;
    transition: 0.7s;
    box-shadow: 7px 7px 7px black;
}
.hello{
    font-size: 1.5rem;
    border: 5px solid black;
    width: 500px;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: linear-gradient(to bottom left, #b8235a 0%, white 100%);
    box-shadow: 15px 15px  10px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 20px 0px;
}
form h1{
    margin-bottom: 0px;
}
form span{
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
}
.success{
    font-size: 2rem;
    border: 2px solid black;
    position: absolute;
    right: 10px;
    top: 5px
}
/*
input[type=checkbox] {
  accent-color: #d90429;
}
.submit a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#forgot{
    margin-top: 20px;
    font-weight: 500;
    color: #650d1b;
}

.end h2{
    color:  rgb(183, 180, 180);
    margin-bottom: 10px;
}
.end h4{
    font-weight: 700;
    margin-top: 10px;
}
.end a{
    text-decoration: none;
    color: rgb(228, 25, 25);
    font-weight: 640;
}

.whole{
    margin: 10px 0;
    padding: 20px 0px;
    background-image: linear-gradient(to bottom left, #b8235a 0%, white 100%);
    box-shadow: 15px 15px  10px;
    border-radius: 5px;
}
#email_error, #pass_error,#num_error{
    display: none;
}
#email_error.show, #pass_error.show, #num_error.show{
    display: block;
    color: rgb(228, 25, 25);
} */